@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*GENERAL STUFF*/
* {
    margin: 0em;
    padding: 0;
}

.mobile-hidden {
    display:none;
}

.flex-responsive {
    flex-direction: column;
}

button {
    background-color: #e4cfb0;
    padding: 0.8em;
    border: none;
    outline: none;
    border-radius: 10px;
}

body, html {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Prompt', sans-serif;
}
/*END OF GENERAL STUFF*/

/*NAVBAR*/
#navbar {
    width: 100vw;
}
#header-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}
/*HAMBURGER BUTTON*/
    #checkbox-burger {
        position: absolute;
        display: flex;
        height: 32px;
        width: 33px;
        top: 15px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    #burger--button {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .lines {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    #line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    #line2 {
        transition: transform 0.2s ease-in-out;
    }

    #line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
/*END OF HAMBURGER BUTTON*/
/*MENU*/
    #menu {
        width: 100%;
        height: 50px;
        background-color: #FFF;
        text-align: center;
        transition: transform 0.4s ease-in-out;
        transform: scaleY(0);
        padding-top: 2em;
    }

    #menu li {
        margin-top: 2em;
        list-style: none;
    }

    #menu a {
        text-decoration: none;
        color: #0e2431;
    }
/*END OF MENU*/
/*END OF NAVBAR*/

/*INTRO*/
#sec--intro {
    width: 88vw;
    display: flex;
}

#intro--text {
    order: 2;
    margin-bottom: 2em;
}
#intro--image-part {
    order: 1;
    width: 100%;
    height: 250px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro--image {
    border-radius: 50px;
    width: 200px;
    height: 100%;
    position: relative;
    right: 70px;
}

#intro--image-text {
    order: 2;
    text-align: right;
    width: 45vw;
}

#intro--h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 28px;
    text-transform:uppercase;
    line-height: 1.2;
}
/* END OF INTRO */

/*COFFEE ART*/
#sec--coffee-art {
    width: 85vw;
    border-radius: 15px;
    background-color: #805d33;
    color: #FFF;
    text-align: right;
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
}

.h2--text {
    text-transform:uppercase;
    font-size: 15px;
}

#sec--coffee-art p {
    font-size: 12px;
}

#coffee-art-images-stack {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#div-img1 {
    grid-column: 1;
    grid-row: 1;
    position: relative; 
    bottom: 50px;
}
#coffee-art-image-1 {
    width: 150px;
    border-radius: 15px;
}

#div-img2 {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    bottom: 72px;
    left: 78px;
    z-index: 1;
}
#coffee-art-image-2 {
    border-radius: 15px;
}

#div-img3 {
    grid-column: 1;
    grid-row: 2;
    position: relative; 
}
#coffee-art-image-3 {
    border-radius: 15px;
}
/*END OF COFFEE ART*/

/*CAROUSEL - SWIPER STUFF */
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2);
    width: 80%;
    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.swiper {
    width: 80vw;
}

.swiper-img {
    max-width: 80vw;
    height: 20vh;
    border-radius: 15px;
}
/*END OF CAROUSEL - SWIPER STUFF*/

/*EXTRA*/
#sec--extra {
    width: auto;
    height: auto;
    background-color: #805d33;
    color: #FFF;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 3px #000;
}

#extra-1 {
    width: auto;
    height: 300px;
    background-image: url('assets/img8.jpg');
    background-clip:border-box;
    background-position-x: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    margin: 1.8em;
}

#extra-2 {
    width: auto;
    height: 300px;
    background-image: url('assets/img7.jpg');
    background-clip:border-box;
    background-position-x: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    margin: 1.8em;
}

/*END OF EXTRA*/

/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

#copyright {
    width: 50%;
    margin: 1em 0;
}

#social {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.social-img {
    width: 30px;
}
/*END OF FOOTER*/

img {
    width: 200px;
}
.logo {
    width: 100px;
}

/* RESPONSIVE */
@media (min-width: 800px) {
/* General */
    .flex-responsive {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    .logo {
        width: 200px;
    }
    .desktop-hidden {
        display: none;
    }
    .mobile-hidden {
        display:contents;
    }

    #menu {
        height: 30px;
        transform: scaleY(1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        right: 150px;
        bottom: 20px;
    }

    .menu--items {
        padding-left: 2em;
    }

/* Intro */
#intro--text {
    order: 1;
    margin: 3em;
    margin-top: 1em;
}

#sec--intro {
    justify-content: center; 
    align-items: center;
}
#intro--image {
    order: 2;
    position: relative;
    right: 0.5em;
    height: 40vh;
<<<<<<< HEAD
    max-height: 300px;
    min-height: 250px;
=======
    min-height: 250px;
    max-height: 300px;
>>>>>>> b7b2b414c2d3932428c57e5b3191a382fb0b6327
    border-radius: 15px;
}

.intro--text {
    padding-bottom: 2em;
    padding-left: 2em;
}
.intro--numbers {
    padding-left: 1.5em;
}

#intro--image-part {
    width: 45vw;
}

#intro--image-text {
    order: 3;
    text-align: left;
}

/* Coffee-art */
    #coffee-art-text {
        height: 45%;
        width: 70%;
    }

/* Footer */
#copyright {
    margin: 0 2em;
}

#social {
    width: 15vw;
}
}
