/*  Brown: #805d33
    Yellow-ish (buttons): #e4cfb0 */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Prompt', sans-serif;
}

button {
    background-color: #e4cfb0;
    padding: 0.8em;
    border: none;
    outline: none;
}

.round-corners {
    border-radius: 10px;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center
}

.mobile-hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.max--width {
    max-width: 100%;
}

.intro-numbers {
    padding-top: 2em;
}

#navbar {
    justify-content: flex-start;
}

#intro--text {
    order: 2;
    margin: 1em;
}


#intro--image { 
    width: 275px;
    height: 300px;
    border-radius: 50px;
    margin-right: 3em
}

#intro--image-text {
    order: 1;
    text-align: right;
    margin-right: 4em;
}


#sec--carousel {
    display: none;
}

#intro--h1 {
    font-size: 30px;
    text-align: left;
    text-transform:uppercase;
    line-height: 30px;
    margin-bottom: 1.5em;
}

#sec--coffee-art {
    background-color: #805d33;
    text-align: right;
    margin: 1em;
}

#coffee-art-text {
    color: #FFF;
    margin: 1em;
}

#coffee-art-text p {
    font-weight: 200
}

#coffee-art-images-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

#coffee-art-image-1 {
    grid-column: 1;
    
}

@media (min-width: 1024px) {
    .mobile-hidden {
        display:block;
    }
}